{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="animated jumbotron">
        <h1><b>Sign up</b></h1>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-danger" role="alert">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <form action="/signup" method="post">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary">Sign up</button>
            <div>
                <br>
                Already have an account? <a href="{{ url_for('login', next=request.args.get('next', '')) }}">Log In</a>
            </div>
        </form>
    </div>
{% endblock %}